*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Wix Madefor Text", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  text-decoration: inherit;
  border-bottom: 1px solid #b8c671;
  transition: 0.3s ease-out; 
  font-family: inherit;
}

a:hover {
  border-color: #000000;
}

main {
  background-color: #b8c671;
}

body,
#root {
  min-width: 320px;
  min-height: 100vh;
}
